#historic {
    padding-top: 10px;
    max-height: 300px;
    width: 100%;
}

.economics-cont {
    margin: 20px 50px;
}

.mat-table-wrapper {
    max-height: 300px;
    overflow-y: auto;
}
