.example-spacer {
  flex: 1 1 auto;
}
.app-cont {
  width: 100%;
  position: absolute;
  top: 64px;
}

.toolbar {
  position: fixed;
  top: 0;
left: 0;
right: 0;
z-index: 2;
}

section {
  overflow: auto;
  display: flex;
flex-direction: column;
}