.tasks-cont {
    margin: 20px 50px;
}

.task-card-header {
    justify-content: space-between;
}

.task-card-header button {
    margin-bottom: 10px;
}

.full-width {
    width: 100%;
}

.dialog-cont {
    overflow:unset
}

.searcher {
    margin-top: 10px;
}