
<mat-card class="tasks-cont">
    <mat-card-header class="task-card-header">
        <mat-card-title>Tareas</mat-card-title>
        <button mat-flat-button color="primary" (click)="openDialog()">Nueva Tarea</button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <div class="row " *ngIf="dataSource">
            <div class="col-12">
                <mat-form-field class="searcher">
                    <input
                        matInput
                        placeholder="Buscar"
                        [(ngModel)]="search"
                        (keyup.enter)="getTasks()"
                        class="mat-form-field mat-form-field-fluid"
                    />
                    
                </mat-form-field>
                <button
                    type="button"
                    (click)="getTasks()"
                    mat-icon-button
                    color="primary"
                >
                    <mat-icon matSuffix>search</mat-icon>
                </button>
            </div>
        </div>
        <div class="mat-table-wrapper">
            <mat-table
                #table
                matSort
                [dataSource]="dataSource"
                matSortActive="id"
                matSortDirection="asc"
                matSortDisableClear
            >

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
                    <mat-cell *matCellDef="let task">{{ task.description }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="creationDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Creación</mat-header-cell>
                    <mat-cell *matCellDef="let task">{{ task.creationDate | date:'dd/MM/YYYY' }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let task">
                        <span
                        class="badge badge-pill badge-{{ (task.active ? 'primary' : 'secondary') }}"
                            >{{ task.active ? 'Activo' : 'Inactivo' }}</span
                        >
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                        <span>Acciones</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let task">
                        <button
                            type="button"
                            (click)="openDialog(task)"
                            mat-icon-button
                            color="primary"
                        >
                            <mat-icon>create</mat-icon>
                        </button>
                        <button
                                mat-icon-button
                                color="warn"
                                type="button"
                                (click)="deleteTask(task.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <div class="mat-table__message" *ngIf="!loading && dataSource.data.length <= 0">No hay valores</div>
            <div class="mat-table__message" *ngIf="loading">Espere por favor</div>
        </div>
        <!-- start: BOTTOM -->
        <div class="mat-table-bottom mt-2">
            <div class="kt-section">
                <div class="kt-section__content">
                    <ngb-pagination
                        [collectionSize]="total"
                        [(page)]="page"
                        [pageSize]="pageSize"
                        [maxSize]="5"
                        [boundaryLinks]="true"
                        (pageChange)="getTasks()"
                    ></ngb-pagination>
                </div>
            </div>
        </div>
    </mat-card-content>

</mat-card>

<ng-template #dialog>
    <h1 mat-dialog-title>Nueva Tarea</h1>
    <mat-dialog-content class="dialog-cont" [formGroup]="form">
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="full-width">
                        <input
                            required
                            matInput
                            placeholder="Descripción"
                            formControlName="description"
                        />
                        <mat-error *ngIf="form.controls.description.hasError('required')">
                            Debe tener una descripción asociada
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-12">
                    <mat-slide-toggle [labelPosition]="'before'" formControlName="active">
                        Inactivo
                    </mat-slide-toggle>
                    <label class="block-label">&nbsp;Activo</label>
                </div>
                <br/>
            </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="saveTask()" [disabled]="!form.valid">Guardar</button>
        <button mat-raised-button (click)="dialogRef.close()">Cerrar</button>
    </mat-dialog-actions>

</ng-template>